tests/data/wep_prov/WEP.json
{
    "States": {
        "main_rev_transfer": {
            "Comment": "Transfer input to rev step",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.data_store_ep_id",
                "destination_endpoint_id.$": "$.rev",
                "transfer_items": [
                    {
                        "source_path.$": "$.input",
                        "destination_path.$": "$.input",
                        "recursive": true
                    }
                ]
            },
            "ResultPath": "$.??",
            "WaitTime": 600,
            "Next": "rev"
        },
        "rev": {
            "ActionScope": "https://auth.globus.org/scopes/ca022ddb-b17d-4004-b600-4f15354a297c/action_provider_operations",
            "ActionUrl": "revtool.cwl",
            "Comment": "Reverse each line using the `rev` command",
            "Type": "Action",
            "Parameters": {
                "input_data.$": "$.input"
            },
            "ResultPath": "$.output",
            "WaitTime": 6000,
            "Next": "main_sorted_transfer"
        },
        "main_sorted_transfer": {
            "Comment": "Transfer a input to sorted step",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.data_store_ep_id",
                "destination_endpoint_id.$": "$.sorted",
                "transfer_items": [
                    {
                        "source_path.$": "$.reverse_sort",
                        "destination_path.$": "$.reverse",
                        "recursive": true
                    }
                ]
            },
            "ResultPath": "$.??",
            "WaitTime": 600,
            "Next": "rev_sorted_transfer"
        },
        "rev_sorted_transfer": {
            "Comment": "Transfer a directory to datastore",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.rev",
                "destination_endpoint_id.$": "$.sorted",
                "transfer_items": [
                    {
                        "source_path.$": "$.output",
                        "destination_path.$": "$.input",
                        "recursive": true
                    }
                ]
            },
            "ResultPath": "$.??",
            "WaitTime": 600,
            "Next": "sorted"
        },
        "sorted": {
            "ActionScope": "https://auth.globus.org/scopes/feda0005-01ad-414d-81ce-dcc5b7f61a1f/action_provider_operations",
            "ActionUrl": "sorttool.cwl",
            "Comment": "Sort lines using the `sort` command",
            "Type": "Action",
            "Parameters": {
                "input_data.$": "$.input",
                "reverse_sort.$": "$.reverse"
            },
            "ResultPath": "$.output",
            "WaitTime": 6000,
            "Next": "sorted_main_transfer"
        },
        "sorted_main_transfer": {
            "Comment": "Transfer output back to datastore",
            "Type": "Action",
            "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
            "Parameters": {
                "source_endpoint_id.$": "$.sorted",
                "destination_endpoint_id.$": "$.data_store_ep_id",
                "transfer_items": [
                    {
                        "source_path.$": "$.output",
                        "destination_path.$": "$.output",
                        "recursive": true
                    }
                ]
            },
            "ResultPath": "$.??",
            "WaitTime": 600,
            "End": true
        }
    },
    "Comment": "Flow with states: DS_fastText_Transfer, fastText, fastText_statistics_transfer, DS_langDetect_transfer, langdetect, langdetect_statistics_transfer, statistics, statistics_DS_transfer",
    "StartAt": "main_rev_transfer"
}